<div
  class="animate__animated animate__fadeIn animate__faster flex flex-column align-content-center"
>
  <!-- Filters -->
  <div [formGroup]="gobForm" class="mb-5 mt-2">
    <div class="grid">
      <div class="col-12 md:col-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-compass"></i></span>
          <input
            id="intemNameInput"
            type="text"
            pInputText
            placeholder="Item Name ..."
            formControlName="searchTerm"
            #searchInput
            autofocus
          />
          <span
            class="p-inputgroup-addon clear animate__animated animate__slideInLeft animate__faster"
            *ngIf="searchInput.value.length > 0"
            (click)="searchInput.value = ''"
            ><i class="pi pi-times"></i
          ></span>
          <button
            type="button"
            pButton
            pRipple
            (click)="getItemPrice(searchInput.value)"
            [disabled]="
              searchInput.value.length === 0 || (searchingStatus$ | async)
            "
          >
            <i class="pi pi-search"></i>
          </button>
        </div>
      </div>
      <p-dropdown
        class="col-12 md:col-2"
        [options]="tiers"
        formControlName="tier"
        optionLabel="name"
        optionValue="value"
        placeholder="Tier"
      ></p-dropdown>
      <p-dropdown
        class="col-12 md:col-2"
        [options]="enchantments"
        formControlName="enchantments"
        optionLabel="name"
        optionValue="value"
        placeholder="Enchantments"
      ></p-dropdown>
      <p-dropdown
        class="col-12 md:col-2"
        [options]="qualities"
        formControlName="quality"
        optionLabel="name"
        optionValue="value"
        placeholder="Quality"
      ></p-dropdown>
      <p-dropdown
        class="col-12 md:col-2"
        [options]="locations"
        formControlName="city"
        placeholder="City"
      ></p-dropdown>
    </div>
  </div>

  <!-- Table -->
  <ng-container *ngIf="marketPrices.length > 0; else loading">
    <div class="items-table">
      <p-table
        responsiveLayout="scroll"
        [value]="marketPrices"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="item_id">
              ID<p-sortIcon field="item_id"></p-sortIcon>
            </th>
            <th pSortableColumn="city">
              City<p-sortIcon field="city"></p-sortIcon>
            </th>
            <th pSortableColumn="qualityName">
              Quality<p-sortIcon field="qualityName"></p-sortIcon>
            </th>
            <th pSortableColumn="enchantments">
              Enchantments<p-sortIcon field="enchantments"></p-sortIcon>
            </th>
            <th class="text-right" pSortableColumn="buy_price_min">
              Min. Buy price<p-sortIcon field="buy_price_min"></p-sortIcon>
            </th>
            <th class="text-right" pSortableColumn="buy_price_max">
              Max. Buy price<p-sortIcon field="buy_price_max"></p-sortIcon>
            </th>
            <th class="text-right" pSortableColumn="sell_price_min">
              Min. Sell price<p-sortIcon field="sell_price_min"></p-sortIcon>
            </th>
            <th class="text-right" pSortableColumn="sell_price_max">
              Max. Sell price<p-sortIcon field="sell_price_max"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns">
          <tr>
            <td>{{ filterByName(item.item_id) }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.qualityName }}</td>
            <td>{{ item.enchantments }}</td>
            <td class="text-right">
              {{ item.buy_price_min | currency: "USD":"symbol":"1.0-0" }}
            </td>
            <td class="text-right">
              {{ item.buy_price_max | currency: "USD":"symbol":"1.0-0" }}
            </td>
            <td class="text-right">
              {{ item.sell_price_min | currency: "USD":"symbol":"1.0-0" }}
            </td>
            <td class="text-right">
              {{ item.sell_price_max | currency: "USD":"symbol":"1.0-0" }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- </div> -->
  </ng-container>

  <!-- Loading spinner -->
  <ng-template #loading class="flex justify-content-center">
    <p-progressSpinner
      *ngIf="searchingStatus$ | async"
      class="flex"
    ></p-progressSpinner>
  </ng-template>
</div>
<p-toast position="bottom-center"></p-toast>
