<div
  class="animate__animated animate__fadeIn animate__faster flex flex-column align-content-center"
>
  <!-- Filters -->
  <div [formGroup]="gobForm" class="mt-2">
    <div class="grid">
      <div class="field col-12 md:col-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-compass"></i></span>
          <input
            id="intemNameInput"
            type="text"
            pInputText
            placeholder="Item Name ..."
            formControlName="searchTerm"
            #searchInput
            autofocus
          />
          <span
            class="p-inputgroup-addon clear animate__animated animate__slideInLeft animate__faster"
            *ngIf="searchInput.value.length > 0"
            (click)="searchInput.value = ''"
            ><i class="pi pi-times"></i
          ></span>
          <button
            type="button"
            pButton
            pRipple
            (click)="getItemPrice(searchInput.value)"
            [loading]="gbIsLoading"
            [disabled]="
              searchInput.value.length === 0 || (gobSearchingStatus$ | async)
            "
          >
            <i class="pi pi-search"></i>
          </button>
        </div>
      </div>

      <div class="field col-12 md:col-2">
        <span class="p-float-label">
          <p-dropdown
            inputId="tiers"
            [options]="gobTiers"
            formControlName="tier"
            optionLabel="name"
            optionValue="value"
            [autoDisplayFirst]="false"
          ></p-dropdown>
          <label for="tiers">Tier</label>
        </span>
      </div>

      <div class="field col-12 md:col-2">
        <span class="p-float-label">
          <p-dropdown
            inputId="enchantments"
            [options]="gobEnchantments"
            formControlName="enchantments"
            optionLabel="name"
            optionValue="value"
            [autoDisplayFirst]="false"
          ></p-dropdown>
          <label for="enchantments">Enchantments</label>
        </span>
      </div>

      <div class="field col-12 md:col-2">
        <span class="p-float-label">
          <p-dropdown
            inputId="qualities"
            [options]="gobQualities"
            formControlName="quality"
            optionLabel="name"
            optionValue="value"
            [autoDisplayFirst]="false"
          ></p-dropdown>
          <label for="qualities">Quality</label>
        </span>
      </div>

      <div class="field col-12 md:col-2">
        <span class="p-float-label">
          <p-dropdown
            inputId="locations"
            [options]="gobLocations"
            formControlName="city"
            optionLabel="name"
            optionValue="name"
            [autoDisplayFirst]="false"
          ></p-dropdown>
          <label for="locations">City</label>
        </span>
      </div>
    </div>
  </div>

  <div class="flex justify-content-center" *ngIf="searchInput.value != ''">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-refresh"
      class="p-button-outlined p-button-rounded animate__animated animate__fadeIn"
      (click)="resetFilters()"
      label="Reset search"
    ></button>
  </div>

  <!-- Table -->
  <ng-container *ngIf="gobMarketPrices.length > 0; else loading">
    <div class="items-table mt-2">
      <p-table
        responsiveLayout="scroll"
        [value]="gobMarketPrices"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="item_id">
              ID<p-sortIcon field="item_id"></p-sortIcon>
            </th>
            <th pSortableColumn="city">
              City<p-sortIcon field="city"></p-sortIcon>
            </th>
            <th pSortableColumn="qualityName">
              Quality<p-sortIcon field="qualityName"></p-sortIcon>
            </th>
            <th pSortableColumn="enchantments">
              Enchantments<p-sortIcon field="enchantments"></p-sortIcon>
            </th>
            <th class="text-right" pSortableColumn="buy_price_min">
              Min. Buy price<p-sortIcon field="buy_price_min"></p-sortIcon>
            </th>
            <th class="text-right" pSortableColumn="buy_price_max">
              Max. Buy price<p-sortIcon field="buy_price_max"></p-sortIcon>
            </th>
            <th class="text-right" pSortableColumn="sell_price_min">
              Min. Sell price<p-sortIcon field="sell_price_min"></p-sortIcon>
            </th>
            <th class="text-right" pSortableColumn="sell_price_max">
              Max. Sell price<p-sortIcon field="sell_price_max"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns">
          <tr>
            <td>
              <p-button
                type="button"
                (onClick)="
                  openBestMarket(
                    item.item_id,
                    item.tier,
                    item.enchantments,
                    item.quality,
                    item.qualityName
                  )
                "
                label="{{ filterByName(item.item_id) }}"
                styleClass="p-button-link"
              ></p-button>
            </td>
            <td>{{ item.city }}</td>
            <td>{{ item.qualityName }}</td>
            <td>{{ item.enchantments }}</td>
            <td class="text-right">
              {{ item.buy_price_min | currency: "USD":"symbol":"1.0-0" }}
            </td>
            <td class="text-right">
              {{ item.buy_price_max | currency: "USD":"symbol":"1.0-0" }}
            </td>
            <td class="text-right">
              {{ item.sell_price_min | currency: "USD":"symbol":"1.0-0" }}
            </td>
            <td class="text-right">
              {{ item.sell_price_max | currency: "USD":"symbol":"1.0-0" }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- </div> -->
  </ng-container>

  <!-- Loading spinner -->
  <ng-template #loading class="flex justify-content-center">
    <p-progressSpinner
      *ngIf="gobSearchingStatus$ | async"
      class="flex"
    ></p-progressSpinner>
  </ng-template>
</div>
<p-toast position="bottom-center"></p-toast>
