:host {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.middle {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.menu {
    display: flex;
}

.menu-button {
    display: none;
    padding: 0 0.8rem 0 1.16rem;
    cursor: pointer;
}

.header {
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.2rem;
    align-items: center;
    max-width: 10rem;
}

.sidebar-by-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.2rem;
    height: 100vh;
    z-index: 1;
    background: white;
}

.hidden {
    display: none;
}

.main {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .main {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .sidebar-by-button {
        display: none;
    }

    .main {
        width: 90%;
    }
}